@import url(https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap);


body{
    font-family: 'Courier Prime', monospace; /* tous les textes en Courier Prime*/
}
nav{
    font-family: 'Arial', serif;
}
h1{
    font-size: 30px;
    width: 200px;
    color: #B7281B;
    font-weight: bold;
    background-color: #C9C9C990;
    border: 3px solid #373737;
    padding: 20px 15px 20px 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

h2{
    text-decoration: none;
    font-size: 26px;
    color: #E5772F;
    text-align: center;
    padding-top:  1rem;
}

h3{
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    color: #F0AE82;
    text-align: left;
    margin: 15px;
}

h4{
    font-size: 14px;
    color: #E5772F;
    text-align: center;
    margin: 10px 0 10px 0;
}

p{
    font-size: 14px;
    font-weight: normal;
    color: #F0AE82;
    text-align: left;
    margin: 15px;
}

.mots-cles{
    font-size: 14px;
    color: #E5772F;
    font-weight: bold;
}

article{
    margin-bottom: 30px;
}

.signature-article>h4{
    text-align: right;
}


p>a{
    color: #F0AE82;
    font-size: 14px;
    text-decoration: underline;
}

.autres-projets>ul>li{
    list-style-type: none;
    text-align: center;
}


